html,
body {
    font-family: Arial, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #302F31;
    padding: 10px;
}

form {
    margin: 15px 0;
}

form input[type='text'] {
    border: 2px solid #45C5BF;
    border-radius: 5px;
    padding: 5px;
    width: 75%;
}

form input[type='submit'] {
    background: #45C5BF;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 5px;
    width: 19%;
}

#chat_history {
    border-right: 0;
}

#chat_screen {
    display: none;
}

#login_screen {
    height: 30px;
    left: 50%;
    margin-left: -160px;
    margin-top: -15px;
    position: fixed;
    top: 50%;
    width: 320px;
}

#chat_history,
#user_list {
    background: #FFF;
    border: 2px solid #45C5BF;
    height: 550px;
    float: left;
    margin-bottom: 10px;
    width: 75%;
}

#user_list {
    border-left: 1px solid #45C5BF;
    height: 554px;
    width: 20%;
}

#chat_history .system {
    background-color: #45C5BF;
    color: #FFF;
    font-weight: bold;
}

#chat_history .private {
    background-color: #CCC;
    color: #000;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}